@model Fantasy.ViewModels.HomeIndexViewModel

<h2>
    title3
</h2>

<ul>
    @foreach (var player in Model.Players)
    {
      <li>@player.Name - @player.TeamID - @player.Position</li>
    }
</ul>
<ul>
    @foreach (var team in Model.Teams)
    {
      <li>@team.ID - @team.FullName - @team.Division.Name</li>
    }
</ul>